[Unit]
Description=UWSGI Server for BHI Password Checker
After=network.target

[Service]
User=bhipwcUser
Group=bhipwcUser
WorkingDirectory=/opt/bhi-pw-strength-checker
Environment="PATH=$PATH:/opt/bhi-pw-strength-checker/"
ExecStart=/usr/local/bin/gunicorn --workers 5 -b 127.0.0.1:5000 bhiOpsDash:app