<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>BHI Password Checker</title>
      {% endif %}
    
       <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
       <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
       <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
       <!--<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">-->
    </head>
    <body>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>